<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/style.css">
  <title>CS101 Standford Videolecture Analysis - Marco Placidi Fork Dashboard</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body>
  <div class="_app--banner">
    <div class="_app--container">
      <a class="header--container" href="/">
        <div class="header--logo">
          <img src="1images/logo.png" alt="" />
        </div>
        <div class="header--title">
          CS101 Standford Videolecture Analysis - Marco Placidi Fork
        </div>
      </a>
    </div>
  </div>

  <div class="_app--container">
    <div class="_app--heading">
      <div class="heading--title">
        CS101 Standford Videolecture Analysis - Marco Placidi Fork
      </div>
    </div>

    <div class="_app--description">
      In questa pagina utilizzo i servizi IBM "Watson Insights" e "Speech to Text" per fornire un'analisi dei concetti trattati in una videolezione didattica.
      L'applicazione è in grado di trascrivere il contenuto vocale di una videolezione, carpirne i concetti semantici associati e consigliare alcune letture "TED-Ed" e "Wikipedia" inerenti.
      Per iniziare l'analisi occorre cliccare su una delle videolezioni sottostanti.
    </div>

    <a class="_app--get-started" href="#video-picking">
      <div class="get-started--text">
        Get Started
      </div>
      <span class="get-started--icon icon icon-down-arrow"></span>
    </a>
  </div>

  <div class="_app--input-area">
    <div class="_app--container">
      <div class="_app--video-picking">
        <div class="video-picking--title" id="video-picking">
          Videolezioni Coursera-Stanford CS101 :
         </div>
     <a> </a>
        <a class="video-picking--video-container" href="dashboard?v=-JsnrGz7vvQ">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 1-1: Introduction to Computing Principles 
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=chiCqftYf4o">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 1-2: Variables
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=ZiBi1aWDWOk">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 1-3: Introduction to Digital Images
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=ugaOTyP_nnQ">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 1-4: Image Code 
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=nxF1_vexZ6Y">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 2-1: For Loops
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=etZ2xprYdrM">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 2-2: Expressions
          </div>
                  <a class="video-picking--video-container" href="dashboard?v=RFKoeAfW-AI">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 2-3: Puzzles
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=Mheb6xX6G8I">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 2-4: Grayscale
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=l8IKnB7anPQ">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 3-1: If Logic 
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=S6OTxneMH3Q">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 3-2: Bluescreen 
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=ySGIwXh0dqo">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 3-3: Hardware
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=m1FXpBaNK0Y">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 3-4: Optional Video Hard drive 
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=7zhb1ndxd3M">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 3-5: Bits Bytes 1
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=JwhiziR5G_U">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 3-6: Bits Bytes 2 
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=8yKSKrbOZTM">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 4-1: Software I 
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=SHULxVn7vjU">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 4-2: Software II 
          </div>
                  <a class="video-picking--video-container" href="dashboard?v=9SZdypr6m_Q">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 4-3: Networking 
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=UCXEjXUxIWw">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 4-4: TCP/IP
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=kjt6QsPY_9Y">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 4-5: Table Data 
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=TAByq-RvFXE">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 5-1: Strings
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=HS-bFvwGauI">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 5-2: Boolean Logic
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=2LCz2Q_mUAc">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 5-3: Count I
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=ol3oU4b68OA">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 5-4: Count II 
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=DRQH86NoX68">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 5-5: Analog Digital 1 
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=cosnc00VM7I">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 6-1: Optional Video Office Hours
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=rLxDgiTToKQ">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 6-2: Analog Digital 2
          </div>
                  <a class="video-picking--video-container" href="dashboard?v=6XVcsx1Qtek">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 6-3: Digital Media
          </div>
        </a>
        <a class="video-picking--video-container" href="dashboard?v=Ecp4p1mDcfM">
          <img class="video-picking--video-cover-pic" src="images/software-development.jpg">
          <div class="video-picking--video-title">
            Computer Science 6-4: Security 
          </div>
        </a>


      <div class="footer--legal-links-container-index">
        <a  
         </a> 
        <a  
         </a> 
        <a  
          </a> 
        <a  
           </a>

      </div>



    </div>

  </div>


  <!-- Place js files at the end of the document, with fallbacks for CDNs -->
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="js/index.js"></script>
</body>

</html>
